BalticUpdater/BSD_SINGLE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Settlements">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="SettlementData">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="RouteId" type="xs:string" />
              <xs:element name="SettlementValue" type="xs:decimal" />
              <xs:element name="SettlementDate" type="xs:string" />
              <xs:element name="SettlementPeriod" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>