BalticUpdater/BSD_ALL.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Settlements">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="SettlementData">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="RouteId" type="xs:string" />
              <xs:element minOccurs="0" name="SettlementValue10" type="xs:string" />
              <xs:element minOccurs="0" name="SettlementValue7" type="xs:string" />
              <xs:element minOccurs="0" name="SettlementValueEM" type="xs:string" />
              <xs:element name="SettlementDate" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>