BalticUpdater/CMSIA_SPOT.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IndicesUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="IndexUpdate">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CMSIndexArchiveId" type="xs:unsignedLong" />
              <xs:element name="CMSIndexGroupId" type="xs:unsignedLong" />
              <xs:element name="IndexData" type="xs:string" />
              <xs:element name="IndexDate" type="xs:string" />
              <xs:element name="TimeCharterAverage" type="xs:string" />              
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>