BalticUpdater/CMSRA_SPOT2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RoutesUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="RouteUpdate">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CMSRouteArchiveId" type="xs:unsignedLong" />
              <xs:element name="CMSRouteId" type="xs:string" />
              <xs:element name="RouteAverage" type="xs:string" />
              <xs:element name="ArchiveDate" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>